.item {
    width: 50%;
    margin-top: 0px;
}
pre {
    width: 100%;
    white-space: pre-wrap;
}
.test {
    display: block;
    width: 100px;
    height: 100px;
    top: 10px;
    position: absolute;
}
.editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-break: break-all;
}

